#a{
    color: #ffffff;
}
.mapa{
    height: 500px;
}
.titulo{
    border-bottom:solid 1px #212529;
    width:70%;
    height:50px;
}
.formato{
    content: '';
}
.formato::before{
    content:'$';
}
.fab.fa-whatsapp{
    color: green;
    font-size: 1.5rem;
}